# See https://www.dartlang.org/guides/libraries/private-files

# test database
*.sqlite3

# Local media directories for test database
media/

# Python virtualenv files
pyvenv.cfg
Lib/
Scripts/
.venv/
.idea/

# Python cache file
*.pyc